<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.tmall.goods.mapper.GoodsMapper">

    <select id="findPromote" resultType="GoodsGridDTO">
        SELECT
        t.id,
        t.`name`,
        t.img_url,
        CASE
        WHEN t.promo_price IS NULL THEN
        t.price
        WHEN promo_price IS NOT NULL THEN
        t.promo_price
        END price,
        t3.category_id
        FROM
        t_goods t
        INNER JOIN t_goods_category_relation t1 ON t.id = t1.goods_id
        INNER JOIN t_goods_category t2 ON t1.category_id = t2.id
        AND t2.is_delete = 0
        INNER JOIN t_goods_promote_category t3 ON t2.pid = t3.category_id
        AND t3.is_delete = 0
        WHERE
        t.is_delete = 0
        AND t3.promote_id = #{promoteId}
    </select>

    <select id="findByCategories" resultType="GoodsGridDTO">
        SELECT
        t.id,
        t.`name`,
        t.img_url,
        CASE
        WHEN t.promo_price IS NULL THEN
        t.price
        WHEN promo_price IS NOT NULL THEN
        t.promo_price
        END price,
        t2.pid category_id
        FROM
        `t_goods` t
        INNER JOIN t_goods_category_relation t1 ON t.id = t1.goods_id
        INNER JOIN t_goods_category t2 ON t1.category_id = t2.id
        AND t2.is_delete = 0
        <if test="categories != null">
            AND t2.pid IN
            <foreach collection="categories" open="(" separator="," close=")" item="pid">
                #{pid}
            </foreach>
        </if>
        WHERE
        t.is_delete = 0
        <if test="notCategories != null">
            AND t2.pid NOT IN
            <foreach collection="notCategories" open="(" separator="," close=")" item="pid">
                #{pid}
            </foreach>
        </if>
        LIMIT #{count}
    </select>

    <select id="findBanners" resultType="GoodsBannerDTO">
        SELECT
            t3.goods_id,
            t3.img_url
        FROM
            t_goods t1
        INNER JOIN t_goods_img t3 ON t3.is_delete = 0
        AND t1.id = t3.goods_id
        AND t3.img_type = 16
        WHERE
            t1.is_delete = 0
        AND t1.store_id = #{storeId}
        AND t1.is_show_banner = 1
    </select>

</mapper>