<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.tmall.goods.mapper.GoodsBrandMapper">

    <select id="getStoreBrandCount" parameterType="GoodsBrandDTO" resultType="int">
        SELECT
        count(1)
        FROM
        t_store_brand t
        INNER JOIN t_store t1 ON t.store_id = t1.id
        AND t1.is_delete = 0
        INNER JOIN t_goods_brand t2 ON t.brand_id = t2.id
        AND t2.is_delete = 0
        WHERE
        t.is_delete = 0
        <if test="isIndexShow != null">
        AND t.is_index_show = #{isIndexShow}
        </if>
    </select>

    <select id="findStoreBrands" parameterType="GoodsBrandDTO" resultType="GoodsBrandDTO">
        SELECT
        t.store_id,
        t2.brand_name,
        t2.logo_url
        FROM
        t_store_brand t
        INNER JOIN t_store t1 ON t.store_id = t1.id
        AND t1.is_delete = 0
        INNER JOIN t_goods_brand t2 ON t.brand_id = t2.id
        AND t2.is_delete = 0
        WHERE
        t.is_delete = 0
        <if test="isIndexShow != null">
            AND t.is_index_show = #{isIndexShow}
        </if>
        LIMIT #{firstIndex}, #{showCount}
    </select>

</mapper>