<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.tmall.goods.mapper.ShoppingCartMapper">

    <select id="getCartCount" resultType="int">
        SELECT
            COUNT(1)
        FROM
            t_shopping_cart t
        INNER JOIN t_goods_sku t1 ON t1.id = t.sku_id
        AND t1.is_delete = 0
	    AND t1.quantity > 0
        WHERE
            t.is_delete = 0
        AND t.account_id = #{accountId}
    </select>

    <select id="findGoods" resultType="CartGoodsDTO">
        SELECT
            *
        FROM
            (
            SELECT
                t.id,
                t2.store_id,
                t2.store_name,
                t1.goods_id,
                t2.img_url,
                t2.`name`,
                t1.price,
                t1.market_price,
                t.sku_id,
                t1.attrs,
                t.attrs_json,
                t.amount,
                t1.quantity,
                !t1.is_delete
                and t1.quantity > 0 and t2.status state
            FROM
                t_shopping_cart t
                INNER JOIN t_goods_sku t1 ON t1.id = t.sku_id
                INNER JOIN t_goods t2 ON t2.id = t1.goods_id
            WHERE
                t.is_delete = 0
                AND t.account_id = #{accountId}
            ) t
        ORDER BY
            t.state,
            t.id DESC
    </select>

    <update id="remove">
        UPDATE t_shopping_cart
        SET is_delete = 1
        WHERE
        id IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
        AND account_id = #{accountId}
        AND is_delete = 0
    </update>

    <update id="updateAmount">
        UPDATE t_shopping_cart t
        INNER JOIN t_goods_sku t1 ON t1.id = t.sku_id
        AND t1.is_delete = 0
        SET amount = #{amount}
        WHERE
            t.id = #{cartId}
            AND t.account_id = #{accountId}
            AND t1.quantity >= #{amount}
    </update>

    <update id="removeFailCart">
        UPDATE t_shopping_cart t
        INNER JOIN t_goods_sku t1 ON t1.id = t.sku_id
        SET t.is_delete = 1
        WHERE
        t.account_id = #{accountId}
        AND ( t1.is_delete = 1 OR 1 > t1.quantity )
    </update>

</mapper>