<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.tmall.order.mapper.OrderPayMapper">


    <update id="payByParentOrderNo" parameterType="OrderPayPO">
        UPDATE t_order_pay t
            INNER JOIN t_order_goods t1
        on t.order_no = t1.order_no AND t1.is_delete = 0
            SET pay_no=#{payNo}, pay_state=#{payState}, pay_way=#{payWay}
        WHERE t1.parent_order_no = #{orderNo}
          AND t.pay_state = 0
          AND t.is_delete = 0
    </update>


</mapper>